@import url(../../wui/layout/sidebar.layout.css);


/* reset */

* {
    margin: 0;
    padding: 0
}

html {
    font-family: "Microsoft Yahei";
    background: #fff;
    color: #333
}

html {
    -webkit-tap-highlight-color: transparent
}

img {
    border: none
}

a {
    text-decoration: none;
    color: inherit
}

html {
    font-size: 14px
}

* {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
}


/* scrollbar */

@media screen and (min-width:768px) {
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px
    }
    ::-webkit-scrollbar-corner {
        background: transparent
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 9px;
        border: 4px solid transparent;
        box-shadow: 0 0 0 5px rgba(0, 0, 0, .05) inset
    }
    :hover::-webkit-scrollbar-thumb {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) inset
    }
}


/* container */

.container {
    width: 960px;
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
}


/* color */

.c-obj {
    color: #66D9EF;
    color: #0af;
    color: #0097E2;
}

.c-prototype {
    color: #f80
}

.c-method {
    color: #00ABD2;
    color: #23ABCA;
    color: #607D8B;
}

.c-comment {
    color: #ccc
}



/* sidebar */

.sidebar-menu {
    font-size: .8em;
}



/* doc */

h1 {
    font-family: cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 1em;
    padding: .5em 0;
}

h1{font-size: 2em}
h2{font-size: 1.5em}
h3{font-size: 1.25em}
h4{font-size: 1.125em}
h5{font-size: 1.0125em}
h6{font-size: 1.0125em}

p {
    margin: 1em 0;
    color: #666;
}


/* code */

code {
    margin: 0;
}

pre {
    white-space: normal;
    border-radius: 3px 3px 0 0;
}

pre code {
    border-radius: 3px 3px 0 0;
}

pre+* {
    margin: 0;
}

pre+* code {
    white-space: pre;
    white-space: pre-wrap;
    display: block;
    padding: 1em 1em;
    margin-bottom: 2em;
    border-radius: 0 0 3px 3px;
    background: #4c4c4c !important;
    color: #9EFF62;
    color: #f7f7f7;
}